<!-- {% load static %}
<a href="../index"><img src="{% static 'image/icon_ori/home.png' %}">首頁</a>
<a href="../member"><img src="{% static 'image/icon_ori/user.png' %}">會員中心</a>
<a href="../list"><img src="{% static 'image/icon_ori/list.png' %}">旅遊細流</a>
<a href="../edit"><img src="{% static 'image/icon_ori/edit.png' %}">編輯中心</a>
<a href="../pic_upload"><img src="{% static 'image/icon_ori/pic.png' %}">圖片上傳</a>
<a href="../manage"><img src="{% static 'image/icon_ori/manage.png' %}">系統管理</a> -->
<!-- home,pianoSheets,teaching,record,aboutMe,manage -->
{% load static %}
<div id="logo"><img src="{% static 'image/icon_ori/logo.png' %}"></div>
<a href="../home"><img src="{% static 'image/icon_ori/home.png' %}"><div>Home</div></a>
<a href="../pianoSheets"><img src="{% static 'image/icon_ori/sheet.png' %}"><div>Piano Works</div></a>
<a href="../tutorial"><img src="{% static 'image/icon_ori/clef.png' %}"><div>Tutorial</div></a>
<a href="../record"><img src="{% static 'image/icon_ori/piano.png' %}"><div>Experience</div></a>
<a href="../aboutMe"><img src="{% static 'image/icon_ori/user.png' %}"><div>About Me</div></a>
<a href="../manage"><img src="{% static 'image/icon_ori/manage.png' %}"><div>Manage</div></a>