<!-- {% load static %}
<a href="../index"><img src="{% static 'image/icon_ori/home.png' %}">首頁</a>
<a href="../member"><img src="{% static 'image/icon_ori/user.png' %}">會員中心</a>
<a href="../list"><img src="{% static 'image/icon_ori/list.png' %}">旅遊細流</a>
<a href="../edit"><img src="{% static 'image/icon_ori/edit.png' %}">編輯中心</a>
<a href="../pic_upload"><img src="{% static 'image/icon_ori/pic.png' %}">圖片上傳</a>
<a href="../manage"><img src="{% static 'image/icon_ori/manage.png' %}">系統管理</a> -->

{% load static %}
<a href="../index"><img src="{% static 'image/icon_ori/home.png' %}"></a>
<a href="../user"><img src="{% static 'image/icon_ori/user.png' %}"></a>
<a href="../list"><img src="{% static 'image/icon_ori/list.png' %}"></a>
<a href="../edit"><img src="{% static 'image/icon_ori/edit.png' %}"></a>
<a href="../pic_upload"><img src="{% static 'image/icon_ori/pic.png' %}"></a>
<a href="../manage"><img src="{% static 'image/icon_ori/manage.png' %}"></a>